<html>
   <head>
      <title>Warranty Tracker</title>
   </head>

   <body>
      <div class="home-info">
           <h2>About</h2>
           <p>
		Log product details as soon as you buy them to keep track of warranty expiration!
           	Forget the hassles of searching through product manuals for product warranty expiration periods
           </p>
      </div>

      <div class="login-box auth0-box before">
           <h3>Login to account here</h3> 
	   <a href="/login">Log In</a>
	   
      </div>

   </body>
</html>
