<html>
   <head>
      <title>Login Results</title>
   </head>

   <body>
	  <h5 id="token" style="word-break: break-all">Login results!</h5>
	  <script>
	      let token = "";
	      const fragment = window.location.hash.substr(1).split('&')[0].split('=')
	      if(fragment[0] === 'access_token'){
		      token = fragment[1]
		      //console.log("token = " + token)
		 
		     document.getElementById('token').textContent = token

		     fetch("/get-token", {
			  method: 'POST',
			  body: JSON.stringify({
				  'token': token
			}),
			  headers: {
			     'Content-Type': 'application/json'
			  }
		    })
	      }

	  </script>
	  
	  <div>
           <h2>Post a product</h2>
	   <form action="#" method="post" name="post_product" id="form_id" class="form_class" >	  
		<label>Product Name :</label>
		  <input type="text" name="name" id="name" placeholder="ex: MacBook" />
	        <label>Date Purchased (in YYYY/MM/DD) :</label>
	          <input type="text" name="date-purchased" id="buy-date" placeholder="ex: 2017-01-12" />
		<label>Warranty End Date (in YYYY/MM/DD) :</label>
		  <input type="text" name="warranty-date", id="end-date", placeholder="ex: 2025-01-12" />

		<input type="button" name="submit_form" id="btn_id" value="Submit" onclick="submit_product()"/>
	    </form>
	   <div>
	  
	   <div>
	     <h2>Get current products</h2>
	   </div>
	
	  
	  <a href="/logout">Logout</a>
   </body>
</html>
